BasedOnStyle: LLVM
UseTab: Always
IndentWidth: 8
TabWidth: 8
ContinuationIndentWidth: 8

BreakBeforeBraces: Linux
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: false

AlignAfterOpenBracket: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: DontAlign

ColumnLimit: 80
